.DS_Store
data
derivatives
doc
code/acpc_mni_xfm/logs
code/acpc_mni_xfm/work
code/archive
code/atlases
code/bids
code/bundleseg/logs
code/covbat/archive
code/covbat/stats/archive
code/freesurfer/logs
code/gam/archive
code/gam/metadata
code/metadata
code/pyafq/logs
code/qsiprep/logs
code/qsiprep/qc
code/qsiprep/work
code/qsiprep/qsiprep-1.0.0.sif
code/qsirecon/glasser_atlas
code/qsirecon/logs
code/qsirecon/work
code/qsirecon/qsirecon-1.0.0.sif
code/qsirecon/qsirecon-1.0.0rc2.sif
code/surfaces/logs
code/trekker/archive
code/trekker/logs
code/trekker/trekker.sif
